<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align: center">
Hello Board memberRegister

<form action="/membersRegister" method="post">
<div>
    <label for="userName">ID :</label>
    <input id="userName" name="userName" type="text">
</div>
    <div>
        <laber for="userPassword">PASSWORD : </laber>
        <input id="userPassword" name="userPassword" type="password">
    </div>
    <div>
        <label for="userEmail">EMAIL : </label>
        <input id="userEmail" name="userEmail" type="email">
    </div>
<button type="submit">JOIN</button>
</form>
</body>
</html>