<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
        <meta charset="UTF-8">
        <title>Title</title>

    <style>
        table {
            font-family: arial, sans-rif;
            border-collapse: collapse;
            width: 100%;

        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

    </style>
</head>

<body>

<table>

    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="lists : ${list}">
        <td><span th:text="${lists.userid}"></span></td>
        <td><span th:text="${lists.username}"></span></td>
    </tr>
    </tbody>

</table>
    <a href="/register">memberinsert</a>
<p>
    <a href="/membersSearch">membersSearch</a>
</p>

</body>

</html></title>
</head>
<body>

</body>
</html>