<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Board.Board.Mapper.MemberMapper">
    <select id="selectUser" resultType="com.Board.Board.DTO.MemberDTO">
        SELECT * FROM TESTDAO ORDER BY Userid DESC
    </select>

    <insert id="save" parameterType="com.Board.Board.Mapper.MemberMapper">
        insert into TESTDAO VALUES(#{Userid},#{Username})
    </insert>
</mapper>